.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  /*background: rgb(40, 40, 40);*/
  height: 110px;
  z-index: 2;
  //background: url(https://s3-ap-southeast-1.amazonaws.com/www.hboasia.com/assets/img/hbo-bg-pattern-footer.png) repeat-y center top #000;
  
}
